<div>
  <div class="container mx-auto pt-11">
    <div class="pl-3 pt-1 text-xl sm:text-3xl md:text-4xl rounded-xl text-center md:pb-6">
      <a class="uppercase font-mono text-violet-200 font-bold" href="#AboutMe" id="AboutMe">About me</a>
    </div>
    <!-- List about me -->
    <div class="text-cyan-200/80 py-6 text-lg px-2 sm:px-8 md:px-16">
      <ul class="list-disc list-inside space-y-5 text-justify">
        <li>Shahrad is an <span class="container bg-slate-700 rounded-xl hover:bg-purple-400/50">Master's Student Machine Learning Researcher</span> at <a href="https://mila.quebec/en/"
          class="underline container bg-slate-700 rounded-xl hover:bg-purple-400/50">Mila</a>
        currently doing research under the
        supervision of Dr. Reihaneh Rabbany and Dr. Doina Precup on Continual RLHF, Temporal Graph Learning and LLM Safety.</li>
        <li>Shahrad is a passionate and experienced <span class="container bg-slate-700 rounded-xl hover:bg-purple-400/50">software
            developer</span> with a strong
          background in <span class="container bg-slate-700 rounded-xl hover:bg-purple-400/50">Machine Learning &
            Infrastructure</span>.
          He has done internships at the <a
            class="underline container bg-slate-700 rounded-xl hover:bg-purple-400/50"
            href="https://ddmal.music.mcgill.ca">DDMAL</a> Music Tech Lab at <a
            class="underline container bg-slate-700 rounded-xl hover:bg-purple-400/50"
            href="https://mcgill.ca">McGill University</a> as an <span
            class="container bg-slate-700 rounded-xl hover:bg-purple-400/50">Infrastructure
            Developer</span> and at <a
            class="underline container bg-slate-700 rounded-xl hover:bg-purple-400/50"> Morgan Stanley </a> as a
          <span class="container bg-slate-700 rounded-xl hover:bg-purple-400/50">Full Stack Developer</span>.
          You can also find him socializing happily and grooving on the piano!
        </li>
      </ul>
    </div>
  </div>
</div>
